 @keyframes subirDescer {
                0%, 100% {
                    transform: translateY(0); /* posição inicial */
                }
                50% {
                    transform: translateY(-10px); /* sobe */
                }
            }

            @keyframes animarGradiente {
                0% { background-position: 0% 50%; }
                50% { background-position: 100% 50%; }
                100% { background-position: 0% 50%; }
            }

            :root {
                --cor1: #151A25;
                --cor2: #0b0e13;
            }

            * {
                margin: 0;
                padding: 0;
            }

            html {
                scroll-behavior: smooth;
            }

            body {
                background-color: var(--cor2);
                color: #9AA1AC;
                font-family: Arial, Helvetica, sans-serif;
            }

            #home {
                width: 99.2vw;
                height: 100vh;
                background: linear-gradient(270deg, #37EFA8, #4C75F3, #893CEB, #33F1FF);
                background-size: 800% 800%;
                animation: animarGradiente 10s ease infinite;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #perfil {
                width: 910px;
                height: 640px;
                background-color: var(--cor1);
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;
                gap: 25px;
                margin: 20px;
            }

            #perfil .perfil {
                width: 180px;
                border-radius: 50%;
                border: 5px solid #254277;
                box-shadow: 0px 0px 40px #25427792;

                animation: subirDescer 3s ease-in-out infinite;
            }

            .nome {
                font-size: 50px;
                font-weight: 700;
                background: linear-gradient(to right, #7ACD64, #37EFA8);
                background-clip: text;       
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0px 0px 30px #7bcd641b;
            }

            .cargo {
                margin-top: -10px;
                font-weight: 300;
                font-size: 25px;
            }

            .desc {
                text-align: center;
                font-size: 20px;
            }

            .bot {
                width: 180px;
                height: 60px;
                cursor: pointer;
                margin: 0px 10px;
                border-radius: 15px;
                border: none;
                background-color: #ffffff00;
                color: white;
                font-weight: bolder;
                font-size: 17px;
            }

            #logos {
                height: 50px;
            }

            #opt{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #sobre_mim {
                background: linear-gradient(to right, #4C75F3, #893CEB);
            }

            #sobre_mim:hover {
                transition: 0.2s;
                box-shadow: 0px 0px 30px #4c76f378;
            }

            #projetos {
                color: #33F1FF;
                border: 2px solid #33F1FF;
            }

            #projetos:hover {
                transition: 0.2s;
                background-color: #33F1FF; 
                box-shadow: 0px 0px 30px #33f1ff3f;
                color: black;
            }

            #logos img {
                width: 40px;
                border: none;
                box-shadow: none;
                margin: 0px 20px;
                cursor: pointer;
                height: 40px;
                border-radius: 50%;
            }
            
            #logos img:hover {
                background-color: #33F1FF; 
                box-shadow: 0px 0px 30px #33f1ff3f;
            }

            #personal {
                background-color: var(--cor2);
                width: 99.2vw;
                height: 100vh;
            }